<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/std.css">
</head>

<body>

    <div class="logo">

        <a href="http://localhost:3000"><img src="/logoclean.png" alt=""></a>
    </div>
    <%- include('partials/navbar_partial') %>



    <h1>CONSOLIDATING IN <%= (perc*100).toFixed(2) %> % RANGE SINCE <%= days %> days </h1>

    <ul>
        <% for ( let p of pass) { %>
        <li><a href="http://localhost:3000/stock?sym=<%= p %>" target="_blank"><%= p %> </li></a>
        <% } %>
    </ul>
</body>

</body>

</html>